/* body{
    background-image: radial-gradient(circle,#17043b ,#190b2c ,#501263 ) ; 
    margin-top: 10%;
    /* height: 100%; */
*{
margin: 0;
padding: 0%;
box-sizing: border-box;

}
body{
    /* overflow: hidden; */
    /* min-height: 100%; */
    height: 120%;
    background-image: linear-gradient(#17043b ,#190b2c ,#3d0d4b ) ;

}
.icon{
    margin-top: 1%;
    margin-left: 2%;
}
.home{
    display: flex;
    width: 45%;
}
.text2{
    margin-top: 1%;
    margin-left: 1%;
    color: #d4bedcdc;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;

}
.text2:hover{
    margin-top: 1%;
    margin-left: 1%;
    color: #e5dee7dc;
    font-family: 'Times New Roman', Times, serif;

}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-image: linear-gradient(#17043b ,#190b2c ,#3d0d4b ) ; */
}
section .color{
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1){
    top: -350px;
    width: 600px;
    height: 600px;
    background: #85b1d2;
}
section .color:nth-child(2){
    bottom: -150px;
    width: 500px;
    height: 500px;
    background: #2d0c57;
}
section .color:nth-child(3){
    bottom: 50px;
    right: 100px;
    width: 500px;
    height: 500px;
    background: #400468;
}
.box{
    position: relative;

}
/* .img{
    height: 95px;
    width: 95px;
    opacity: 0.8;
} */
/* .img1{
    height: 115px;
    width: 115px;
    opacity: 0.8;
} */
.box .square{
    position: absolute;
    backdrop-filter: blur(10px);
    box-shadow: 0 25px 45px rgb(0,0,0,0.1);
    border: 1px solid rgb(255,255,255,0.5);
    border-right: 1px solid rgb(255,255,255,0.2);
    border-bottom: 1px solid rgb(255,255,255,0.2);
    background: rgb(255,255,255,0.1);
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate{
    0%,100%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px);
    }
}

.box .square:nth-child(1){
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
    background-image: url(/image/IMG_9624.jpg);
    background-size: 98px 98px;
    opacity: 0.8;

}

.box .square:nth-child(2){
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
    background-image: url(/image/20220720_094606.jpg);
    background-size: 120px 120px;
    opacity: 0.8;
}

.box .square:nth-child(3){
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
    background-image: url(/image/20220728_104958.jpg);
    background-size: 80px 80px;
    opacity: 0.8;
}

.box .square:nth-child(4){
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px; 
    background-image: url(/image/20220904_120114.jpg);
    background-size: 50px 50px;
    opacity: 0.8;
}

.box .square:nth-child(5){
    top: -80px;
    left: 100px;
    width: 60px;
    height: 60px;
    background-image: url(/image/IMG_7900.JPG);
    background-size: 60px 60px;
    opacity: 0.8;
}
.container{
    position: relative;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgb(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /* margin-top: 65%; */
    /* margin-bottom: -20%;*/ 
    top: 2%;
}
.form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.form h2{
    position: relative;
    color: #ede7ef;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
.form h2:before{
    content: '';
    position: absolute;
    left: 76px;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}

 .form .contactt{
    width: 100%;
    margin-top: 20px;
 }

 .form .contactt input{
     width: 100%;
     background: rgba(255,255,255,0.2);
     border: none;
     outline: none;
     padding: 10px 20px;
     border-radius: 35px;
     border: 1px solid rgb(255,255,255,0.5);
     border-right: 1px solid rgb(255,255,255,0.2);
     border-bottom: 1px solid rgb(255,255,255,0.2);
     font-size: 16px;
     letter-spacing: 1px;
     color: #fff;
     box-shadow: 0 5px 15px rgb(0,0,0,0.05);
 }

 .form .contactt textarea{
    width: 100%;
    height: 130px;
    resize: none;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgb(255,255,255,0.5);
    border-right: 1px solid rgb(255,255,255,0.2);
    border-bottom: 1px solid rgb(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff !important;
    box-shadow: 0 5px 15px rgb(0,0,0,0.05);
}

.form .contactt input::placeholder{
    color: #dbcce0;
    font-family: 'Times New Roman', Times, serif;

}

.form .contactt textarea::placeholder{
    color: #dccbe2;
    font-family: 'Times New Roman', Times, serif;

}

.form .contactt input[type="submit"]{
    background: rgb(245, 240, 240);
    color: #666;
    max-width: 150px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 30%;
    font-weight: 600;
    transition: .5s ease-in-out;
}

.form .contactt input[type="submit"]:hover{
    background: rgba(255,255,255,0.2);
    color: #dbcbe0;
    font-weight: 600;
}

.text{
    margin-bottom: 100px;
    color: #dbcce0;
    height: 50px;
    /* margin-left: 3%; */
    text-align: center;
    font-family: 'Yeseva One', cursive;;
    font-size: 15px;
}
footer{
    position: relative;
    width: 100%;
    background: #190b2c;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: -10%;
  }
  footer .social ,
  footer .list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  footer .social li,
  footer .list li{
    list-style: none;
  }
  footer .social li a{
    color: #946262;
    font-size: 25px;
    margin: 0 15px;
    display: inline-block;
    transition: 0.5s;
  }
  footer .list li a{
    color: #946262;
    font-size: 18px;
    margin: 0 15px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    font-family:'Metal', cursive;
  
  }
  footer .social li a:hover{
    transform: translateY(-10px);
  }
  footer .list li a:hover{
    opacity: 1;
  }
  footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/image/wave\ \(1\).png);
    
    background-size: 1000px 100px;
  }
  footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 6s linear infinite;
  }
  footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave2 6s linear infinite;
  }
  footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 5s linear infinite;
  }
  footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave2 5s linear infinite;
  }
  @keyframes animateWave{
    0%{
      background-position-x: 1000px;
    }
    100%{
      background-position-x:0px;
    }
  }
  @keyframes animateWave2{
    0%{
      background-position-x: 0px;
    }
    100%{
      background-position-x:1000px;
    }
  }